<!DOCTYPE html>
<html>
  <head>
    <title>Person Counter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <ul class="locations">
    {% for location in locations %}
    <li>{{ location }}</li>
    {% endfor %}
    </ul>
  </body>

  <script>
    // redirect onclick
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll("li").forEach(elm => {
        elm.onclick = function() {
          document.location.href += this.innerHTML;
        }
      });
    }, false);
  </script>
</html>
