* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  background: #234;
  font-family: Sans-serif;

  /* sticky footer */
  height: 100%;
}

ul.locations {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  margin-bottom: 85px;
}

ul.locations li {
  list-style: none;
  padding: 15px 0 15px 15px;
  font-size: 3em;
  user-select: none;
  -webkit-user-select: none;
}

ul.locations li span {
  min-width: 100px;
  display: inline-block;
  margin-right: 15px;
  text-align: right;
  font-weight: bold;
}

ul.locations li:nth-child(even),
div.footer button:nth-child(odd) {
  background: #d93;
}

ul.locations li:nth-child(odd),
div.footer button:nth-child(even) {
  background: #2bb;
}

div.counter {
  background: #345;
  min-height: 200px;
  text-align: center;
  transition: background 0.2s ease;
  user-select: none;
  -webkit-user-select: none;
}

div.counter.full {
  background: #e11;
}

div.counter p {
  font-size: 2em;
  padding-top: 20px;
}

div.counter span {
  display: block;
}

div.counter span.value {
  font-size: 5em;
}

div.counter span.max::before {
  content: "Max: ";
}

div.counter span.max {
  font-size: 1em;
}

div.footer {
  min-height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  user-select: none;
  -webkit-user-select: none;
}

div.footer button {
  width: 50%;
  height: 200px;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: white;
  transition: background 0.2s ease;
}

div.footer button:disabled {
  background: #555;
}


div.add-location {
  font-size: 3em;
}

div.add-location span {
  background: orange;
  color: white;
  font-weight: bold;
  display: table-cell;
  float: left;
  padding: 15px 25px;
}

div.add-location input {
  float: left;
  color: white;
  background: #234;
  border: 2px solid white;
  box-sizing: border-box;
  height: 85px;
  padding: 15px;
  font-size: 1em;
}

div.add-location div {
  display: flex;
}

div.add-location div > input {
  width: 100%;
}
